@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  *, *::after, *::before{
    transform-style: preserve-3d;
    perspective: 1000px;
  }

  .styleConnect{
    -webkit-text-stroke: 1px #3b82f6;
    color: white;
  }
  .container {
    overflow: hidden;
    /* background-color: blue; */
  }
  
  .slideIn {
    animation: slideIn 1.5s forwards;
  }

  .loggedIn {
    animation: loggedIn 1.5s forwards;
  }

  .isSignedOut {
    animation: signedOut 1.5s forwards;
  }

  .rotateIn{
    animation: rotateIn 2.5s forwards;
  }

  .imageIn{
    transform: scale(1);
    transition: transform 1s ease;
    /* animation: rotateIn 2.5s forwards; */
    &:hover{
      transform: scale(1.3);
      transition: transform 1s ease;
    }
  }

  .hideIn {
    max-height: 70px;
    overflow: hidden;
    transition: max-height 1s ease, transform 1s ease;
    /* transform: translateY(100%); Start from the bottom */
  }
  
  .show {
    max-height: 300px;
    overflow: auto;
    transition: max-height 1s ease, transform 1s ease;
    /* transform: translateY(-100%); Slide upwards */
  }
  

  .connect{
    animation: colorChange 5s ease alternate infinite;
  }
  .anim_ball {
    /* perspective: 1000px; */
    /* perspective-origin: top; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    /* transform-origin: center; */
    animation: animX 1.5s ease infinite;
  }
  .scaleIn{
    animation: scaleIn 1.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      /* opacity: 0; */
      transform: translateX(-100%);
    }
    to {
      /* opacity: 1; */
      transform: translateX(0%);
    }
  }
}

@keyframes colorChange {
  from{
    color: white;
  }
  to{
    color: #3b82f6;
  }
}

@keyframes animX {
  from {
    /* opacity: 0; */
    transform: rotateX(0);
  }
  to {
    /* opacity: 1; */
    transform: rotateX(360deg);
  }
}

@keyframes animY {
  from {
    opacity: 0;
    transform: rotateY(0);
    /* display: absolute; */
  }
  to {
    opacity: 1;
    transform: rotateY(360deg) ;
    /* transform-style: preserve-3d; */
    /* display: relative; */
  }
}


@keyframes loggedIn {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes signedOut {
  from {
    opacity: 1;
    transform: scale(1);
    /* transform: rotate(0deg); */
    transform: translateZ(0) 
  }
  to {
    opacity: 0;
    transform: scale(0);
    /* transform: rotate(360deg); */
    transform: translateZ(-50px)
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: scale(0);
    transform: rotateX(0deg);
    transform: translateY(-100%) 
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: rotateX(360deg);
    transform: translateY(0)
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
    /* transform: rotate(0deg); */
    transform: translateX(100%) 
  }
  to {
    opacity: 1;
    transform: scale(1);
    /* transform: rotate(360deg); */
    transform: translateX(0)
  }
}
